.product-modal {
    background-color: gray;
    background-color: rgba(86, 86, 86, 0.7);
    display: grid;
    height: 100%;
    left: 0;
    place-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    .container {
        align-items: flex-start;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: calculateRem(40px);
        row-gap: calculateRem(15px);
        width: 400px;

        h1 {
            align-self: center;
            font-size: calculateRem(25px);
            margin-bottom: calculateRem(20px);
        }

        img {                        
            height: calculateRem(150px);
            object-fit: contain;       
            width: 100%;
        }
    }
}