@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {    
    font-family: system-ui;
    width: 100%;
        
    a {
        color: inherit;
        text-decoration: none;
    }

    .app {
        display: grid;
    }
}

@import './components/Header/Header.scss';
@import './components/SearchBar/SearchBar.scss';
@import './components/Products/Products.scss';
@import './components/ProductModal/ProductModal.scss';